<a href="https://colab.research.google.com/github/Raziel-JKM/NaverBootcourse_machine-for-python/blob/main/Pythonic_Code_Enumerate_%26_Zip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트의 값을 추출할때 함께 인덱스를 추출할 수 있는 방법으로 이용되는 enumerate 와 
두개 이상의 list 값을 병렬적으로 추출할 수 있는 zip 모듈을 사용하여 pythonic code를 작성하는 방법

#Enumerate
- 리스트가 있는 경우 순서와 리스트의 값을 전달하는 기능
enumerate는 “열거하다”라는 뜻이다. 
- *이* 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
보통 enumerate 함수는 아래 예제처럼 for문과 함께 자주 사용된다.
- List의 element를 추출할 때 번호를 붙여서 추출

In [ ]:


>>> for i, v in enumerate(['tic', 'tac', 'toe']):
# list의 있는 index와 값을 unpacking
... print (i, v) #i 의 값에 
...
0 tic
1 tac
2 toe

>>> mylist = ["a","b","c","d"]
>>> list(enumerate(mylist)) # list의 있는 index와 값을 unpacking하여 list로 저장
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

>>> {i:j for i,j in enumerate('Gachon University is an academic institute
located in South Korea.'.split())}
# 문장을 list로 만들고 list의 index와 값을 unpacking하여 dict로 저장
{0: 'Gachon'
, 1: 'University', 2: 'is', 3: 'an', 4: 'academic', 5: 'institute',
6: 'located', 7: 'in', 8: 'South', 9: 'Korea.'}

In [23]:
names = ['철수', '영희', '영수']
for i, name in enumerate(names):
  print('{}번: {}'.format(i + 1, name))

1번: 철수
2번: 영희
3번: 영수

In [20]:
L = ['apples', 'bananas', 'oranges'] #이해 아직x
for idx, val in enumerate(L):
  print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

#range 함수
- 필요한 만큼의 숫자를 만들어내는 유용한 기능
- range([start,] stop [,step])는 for문과 함께 자주 사용되는 함수이다. 이 함수는 입력받은 숫자에 해당되는 범위의 값을 반복 가능한 객체로 만들어 리턴한다.

In [25]:
list(range(5))#인수 1개 - 시작 숫자를 지정해 주지 않으면 range 함수는 0부터 시작한다.

[0, 1, 2, 3, 4]

In [26]:
list(range(5, 10))
# 인수 2개 - 입력으로 주어지는 2개의 인수는 시작 숫자와 끝 숫자를 나타낸다.
# 단, 끝 숫자는 해당 범위에 포함되지 않는다는 것에 주의하자.

[5, 6, 7, 8, 9]

In [27]:
range(1, 10, 3)# 인수 3개 - 세 번째 인수는 숫자 사이의 거리를 말한다.

range(1, 10, 3)

In [28]:
range(20, 10, -2)

range(20, 10, -2)

#Zip

In [ ]:

두 개의 list의 값을 병렬적으로 추출함
>>> alist = ['a1', 'a2', 'a3']#alist->a에
>>> blist = ['b1', 'b2', 'b3']#blist->b에 반영
>>> for a, b in zip(alist, blist): # 병렬적으로 값을 추출
... print (a,b)
...
a1 b1
a2 b2
a3 b3
>>> a,b,c =zip((1,2,3),(10,20,30),(100,200,300)) #각 tuple의 같은 index 끼리
묶음
(1, 10, 100) (2, 20, 200) (3, 30, 300)
>>> [sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))]
# 각 Tuple 같은 index를 묶어 합을 list로 변환
[111, 222, 333]

In [31]:
a,b,c =zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [32]:
[sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))]
print([sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))])

[111, 222, 333]

In [3]:
#enumerate + zip (미숙달)
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [1]:
#for loop + zip
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [2]:
#list comprehension + zip
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

print([sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))])

(1, 10, 100) (2, 20, 200) (3, 30, 300)
[111, 222, 333]

#len 함수
- len(s)은 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수이다.

In [ ]:
>>> len("python")
6
>>> len([1,2,3])
3
>>> len((1, 'a'))
2

In [29]:
rainbow=["빨","주","노","초","파","남","보"]
for i in range(len(rainbow)):
	color = rainbow[i]
	print('{}번째 색은 {}'.format(i+1,color))

1번째 색은 빨
2번째 색은 주
3번째 색은 노
4번째 색은 초
5번째 색은 파
6번째 색은 남
7번째 색은 보